;; Analyzed by ClojureScript 0.0-3308
{:name cli.core, :doc nil, :excludes #{}, :use-macros nil, :require-macros nil, :uses nil, :requires nil, :imports nil, :defs {fs {:name cli.core/fs, :file "/Users/allanjiang/Developer/blog/tools/cli/src/cli/core.cljs", :line 7, :column 1, :end-line 7, :end-column 8, :meta {:file "/Users/allanjiang/Developer/blog/tools/cli/src/cli/core.cljs", :line 7, :column 6, :end-line 7, :end-column 8}}}}