/*Global*/
a {
  color: #00a;
}

/*HEADER*/
#header {
  margin-top: 5rem;
}

.title {
  color: #E10D37;
  font-weight: bold;
}

.nav {
    display: block;
}

.nav > li {
  font-family: "inconsolata", monospace;
  font-size: 1.7rem;
    display: inline;
    padding-right: 2rem;
    letter-spacing: 0.01rem;
}

.nav li a {
  text-decoration: none;
  color: #999999;
  text-transform: lowercase;
}

.nav li a:hover {
    color: black;
}

.nav li.active > a {
    color:#E10D37;
    font-weight: 800;
}

/*POST CONTENT*/
#post-header {
  margin-bottom: 2rem;
}

#post-header h2 {
  margin: 0;
}

#content {
  /* text-align: justify; */
  margin-top: 1.2rem;
  padding: 1rem;
}

.date {
    /* color: #E10D37; */
    color: grey;
    font-style: italic;
}

#prev-next {
    text-align: left;
    margin-top: 1rem;
    height: 3.0rem;
}

#prev-next > span {
    float: right;
}

blockquote {
  font-style: italic;
}


/*FOOTER*/
footer {
    margin:2rem 0;
    color:#999999;
    text-align: center;
}

footer a {
    text-decoration: none;
    color: #999999;
}

/*Archive*/
#archives h4 {
  margin-bottom: 0;
}

#archive {
  list-style-type: none;
}
#archive li {
  margin: 0;
}
