{:site-title         "jiangts"
 :author             "Allan Jiang"
 :description        ""
 :site-url           "http://jiangts.github.io/blog"
 :post-root          "posts"
 :tag-root           "tags"
 :page-root          "pages"
 :blog-prefix        "/blog"
 :rss-name           "feed.xml"
 :rss-filters        ["cryogen"]
 :recent-posts       3
 :post-date-format   "yyyy-MM-dd"
 :sass-src           nil
 :sass-dest          nil
 :theme              "dosync"
 :resources          ["img"]
 :keep-files         [".git"]
 :disqus?            false
 :disqus-shortname   ""
 :ignored-files      [#"\.#.*" #".*\.swp$" #".*\.tmp$" #".*\.private\.md" #".*\.staging\.md" #".*\.review\.md"] ; 
 :posts-per-page     5
 :blocks-per-preview 2
 :previews?          false
 :counter            0}
